.piepagina{
    background-color: rgb(#e4e5e7);
    border-color: rgb(#e4e5e7);
    
    flex-direction: row;
}

.foto{
    width: 15%;
    height: 15;
    margin-left: 2%;
    background-color: rgb(161, 150, 243);
}
.copy{
    width: 1%;
    height: 1%;
}
.ul{
    display: flex;
    justify-content: center;
    align-items: start;
}


