.piepagina{
    background-color: rgb(228, 229, 231);
    border-color: rgb(228, 229, 231);
    
    flex-direction: row;
}

.foto{
    width: 15%;
    height: 15;
    margin-left: 2%;
}
.copy{
    width: 1%;
    height: 1%;
}
.ul{
    display: flex;
    justify-content: center;
    align-items: start;
}


