/* Estilos para pantallas grandes */
body {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 768px) {
    /* Estilos para pantallas menores a 768px */
  }
  
  .piano {
    display: flex;
    width: 100%;

  }
  
  .white-key {
    width: 60px;
    height: 350px;
    background-color: white;
    border: 1px solid black;
  }
  
  .black-key {
    width: 50px;
    height: 200px;
    background-color: black;
    margin-left: -42px;
    margin-right: -10px;
  }
  .black-key-no {
    width: 50px;
    height: 200px;
    background-color: white;
    border-top: 1px solid black;
    margin-left: -42px;
    margin-right: -10px;
  }


    
  
  
  